* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.App-header {
  display: flex;
  align-items: center;
}
li {
  list-style: none;
}
.reactLogo-img { 
  height: 100px;
  width: auto;
  margin-left: 10px;
}